{
  "APP_API_BASE_URL": "${APP_API_BASE_URL}",
  "APP_APP_TITLE": "${APP_APP_TITLE}",
  "APP_DEFAULT_ROUTE": "${APP_DEFAULT_ROUTE}",
  "APP_ENABLE_ROUTE_GUARD": "${APP_ENABLE_ROUTE_GUARD}",
  "APP_FEATURE_FLAGS__SHOW_ABOUT": "${APP_FEATURE_FLAGS__SHOW_ABOUT}",
  "APP_VUETIFY__DEFAULT_THEME": "${APP_VUETIFY__DEFAULT_THEME}"
}
